---
BasedOnStyle: LLVM
Language: Cpp
Standard: c++17

ColumnLimit: 120
IndentWidth: 2
TabWidth: 2
UseTab: Never

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<[^.]+>$'
    Priority: 1
  - Regex: '^<.*>$'
    Priority: 2
  - Regex: '^".*"$'
    Priority: 3

NamespaceIndentation: None
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

AccessModifierOffset: -2
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 4

FixNamespaceComments: true
ReflowComments: true
...
